<% provide(:title, "About") %>
<h1>About <%=app_name%></h1>
<script type="text/javascript"
  src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="center">
  <p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
    Tutorial</em></a> is a
    <a href="http://www.railstutorial.org/book">book</a> and
    <a href="http://screencasts.railstutorial.org/">screencast series</a>
    to teach web development with
    <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </br>
    This sample, web application
     is the result of the tutorial and further work that I have made.
    </br>
    If you like to contact me, you can write an email by clicking
      <a href="mailto:<%=get_admin_email%>" target="_top">
       here</a>.
    </br>
    Hope you like this site :)
  </p>
</div>
<div class="centerDiv">
  <div class="LI-profile-badge" data-version="v1" data-size="medium"
  data-locale="sv_SE" data-type="horizontal" data-theme="light"
  data-vanity="mattias-larsson-mala">
    <a class="LI-simple-link"
  href='https://se.linkedin.com/in/mattias-larsson-mala?trk=profile-badge'>
      Mattias Larsson
    </a>
  </div>
</div>
