<% if logged_in? %>
<div class="row">
    <aside class="col-md-4">
        <%= render "shared/user_info" %>

      <section class="stats">
        <%= render "shared/stats" %>
        <hr />
      </section>
      <div class="micropost_form" >
        <%= render "shared/micropost_form" %>
      </div>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>

<% else %>

<div class="center jumbotron">
	<h1>Welcome to <%=app_name%></h1>
  <h2>
		This is the home page for this sample application.
	</h2>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
  "http://rubyonrails.org/" %>

  <hr>
    <i>Are you a new user and want to try it out?</i>

</br>
</br>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>


<% end %>
