<h1>Welcome to <%=app_name%></h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the <%=app_name%>! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
