<h1>New user created!</h1>

<p>A new user has been created of <%=app_name%>! </p><br/>

Visit this user by clicking <%= link_to "here.", user_url(@newUser) %><br/>

<!-- See all users by clicking
<p><%# link_to "here", users_path %></p> -->
