
<% if !@tempUsr.nil?%>
	<% @user = @tempUsr %>
<%end%>
<% unless current_user?(@user) %>
	<% form_id = @user.id.to_s %>
	<div id="follow_form_<%= form_id %>">
		<% if current_user.following?(@user) %>
			<%= render "unfollow" %>
		<% else %>
			<%= render "follow" %>
		<% end %>
		</div>
<% end %>
