<li>
	<div class="col-md-8" >
		<%= gravatar_for user, size: 50 %>
		<% getTmpUsr user %>
		<%= link_to user.name, user %>
	</div>
	<div class="col-md-2" >
	<% unless current_user?(user)%>
		<%= render "follow_form", locals: { user: @tempUsr } if logged_in? %>
		<% end %>
		</div>
		<% if current_user.admin? %>
		<div class="col-md-2" >
			| <%= link_to "Delete", user, method: :delete, data:{
				confirm:"You sure you want to delete #{user.name}?"}%>
		</div>
	<% end %>
</li>
