<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<% provide(:form_url, user_path(@user)) %>

<h1>Update your profile</h1>
<hr/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section>
      <div align="center">
        <%= link_to  (gravatar_for @user , costomclass:"gravatar_edit", gravatar_opt:"edit", size:100),  "http://gravatar.com/emails"  %>
        <!-- <a href="" target="_blank">Change</a> -->
      </div>
    </section>
    <section>
      <%= render "form" %>
    </section>
<hr/>
  </div>

</div>
<div class="row spacer">
  <div class="span">...</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div align="center">
      <%= button_to "Delete Account",  @user, :class => "delete-account-btn btn btn-danger", :method => :delete,  data:{
        confirm:"You sure you want to delete #{@user.name}?"} %>
        <%# link_to "Delete", @user, method: :delete, data:{
        confirm:"You sure you want to delete #{@user.name}?"}%>
      </div>
    </div>
  </div>
