<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		<div class="row">
			<aside class="col-md-4 user_info">
				<%= gravatar_for @user, costomclass:"gravatar", size:90 %>
			</aside>
			<div class="col-md-8 user_info">
				<div class="row name">
					<h3><%= @user.name %></h3>
				</div>
				<div align="left" class="row username">
					<% if current_user?(@user) %>
					<%= link_to edit_user_path(@user) do %>
					<i><%= @user.username %></i>
					<% end %>
					<% else %>
					<i><%= @user.username %></i>
					<% end %>
				</div>

			</div>

		</div>
		<br>
		<section class="stats">

			<%= render "shared/stats" %>
			<hr />
		</section>

		<% if current_user?(@user) %>

		<div class="micropost_form" >
			<%= render "shared/micropost_form" %>
			<hr />
		</div>

		<div class="row todo_list">
			<%= link_to todos_path  do %>
			<h3 style="text-align: center;">My To-Do List</h3>
			<% end %>

			<% if @user.todos.any? %>
			<%= render "shared/show_simple_todos" %>
			<% end %>
			<%= render "shared/todo_form" %>
		</div>
		<% end %>
	</aside>

	<div class="col-md-8">
		<%= render "follow_form", locals: { user: @user } if logged_in? %>
		<% if @user.microposts.any? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
