<%= form_for(@micropost) do |f| %>
<%= render "shared/error_messages", object: f.object %>
<div class="field" >
	<%= f.text_area :content, id:'content_text', maxlength: get_max_char_amount,
			placeholder: "Compose new micropost..." %>

	<div style="text-align: right;">Chars left:
		<span id="counter" data-maximum-length="<%= get_max_char_amount %>">
		 <%= get_max_char_amount %></span>
	 </div>
	
</div>
<%= f.submit "Post", class: "btn btn-primary" %>

<% end %>
<script>
$(document).ready(function() {
  var content_text = $("#content_text");
  var counter     = $("#counter");
  var max_length  = counter.data("maximum-length");

  content_text.keyup(function() {
      counter.text(max_length - $(this).val().length);
  });

});
</script>
