<!-- <h4 style="text-align: center; text-decoration: underline;">Done</h4> -->
<!-- <button type="button" class="btn btn-success">Done</button>  -->
<% if @todos1.any? %>
<table id="todos-done"  class="table table-striped table-hover" data-href="<%=%>">
	<thead>
			<caption  class="text-success" style="text-align: center;">Done</caption>
		<tr >
			<th width="70%">Title</th>
			<th width="30%">Latest update</th>
		</tr>
	</thead>
	<% @lastesttodos1.each do |todo|%>
	<%= render "shared/simple_todo", todo: todo, rowCol: "success", time: "updated"%>
	<%end%>
</table>
<p style="text-align: center;">Last <%= pluralize(@lastesttodos1.count, "completed task") %>  (out of <%= @todos1.count %>) </p>
<% else %>
<p style="text-align: center;">0 completed tasks! </br> The 5 latest updated tasks will be visible here </p>
<% end %>
<hr />

<% if @todos2.any? %>
<table id="todos-in-prog" class="table table-striped table-hover">
	<thead >
	<caption  class="text-warning" style="text-align: center;">In Progress</caption>
		<tr >
			<th width="59%">Title</th>
			<th style="text-align: center;">Latest update</th>
		</tr>
	</thead>
	<% @lastesttodos2.each do |todo|%>
	<%= render "shared/simple_todo", todo: todo, rowCol: "warning", time: "updated"%>
	<%end%>
</table>
<p style="text-align: center;">Latest <%= pluralize(@lastesttodos2.count, "updated task") %> in progress (out of <%= @todos2.count %>) </p>
<% else %>
<p style="text-align: center;">0 tasks in progress!</p>
<% end %>
<hr />
<% if @todos3.any? %>
<table id="todos-not-started" class="table table-striped table-hover">
	<thead >
	<caption class="text-danger"  style="text-align: center;">Not Started</caption>
		<tr >
			<th width="59%">Title</th>
			<th style="text-align: center;">Created at</th>
		</tr>
	</thead>
	<% @lastesttodos3.each do |todo|%>
	<%= render "shared/simple_todo", todo: todo, rowCol: "danger", time: "created"%>
	<%end%>
</table>
<p style="text-align: center;">Last <%= pluralize(@lastesttodos3.count, "created, not started task") %> (out of <%= @todos3.count %>) </p>
<% end %>
