<% color=rowCol||""%>

<tr id="todo-<%= todo.id %>" class="<%= color %>" >  
	<!-- clickable-row" data-href="" -->
	<!-- --------------------------OBS:------------------------------- 
	  skall vara antingen en modal (pop-up) som direkt editering 
	eller link till korrekt tab i todos! 
	 ------------------------------------------------------------- -->
<!-- 	<td ><a data-toggle="modal" data-target="#modal-window" data-remote="<%= edit_todo_path(todo) %>" class="btn btn-mini">Weigh out</a></td> -->
	<td ><%= todo.title  %></td>
	<td style="text-align: center;"><%= todo.local_time(time)%></td>
	
</tr>	
