<div align="center" >
	<%= bootstrap_form_for(@newtodo, layout: :inline) do |f| %>
	<%= f.alert_message "Please fix the errors below." %>
	<div class="input-group  ">
		<%= f.text_field :title, skip_label: true, placeholder: "Compose new todo item...",  class: "form-control"  %>
		<div class="input-group-btn  "  >
			<%= button_tag "", type: "submit", class: "btn btn-primary glyphicon glyphicon-plus"  %>
		</div>
	</div>
	<% end %>
</div>




