<div class="row user_info">
  <aside class="col-md-4 ">
    <%= link_to gravatar_for(current_user, size: 90), current_user %>
  </aside>
  <div class="col-md-8">
    <div class="row name">
      <%= link_to user_path(current_user) do %>
      <h3><%= current_user.name %></h3>
      <% end %>
    </div>
    <div align="left" class="row username">
      <i><%= current_user.username %></i>
      <br>
      <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
    </div>

  </div>

</div>
<br>
