<div  class="col-xs-7 col-md-7" >
	<div class="input-group">
		<span class="input-group-addon ">
			<i class="glyphicon glyphicon-search"></i>
		</span>


		<input type="text" id="myInput" onkeyup="filtertable(<%=@filter ||1 %>, '')"
		 placeholder="Search for.." class="form-control myInput"/>
		 <!-- size="50" maxlength="50" -->
		<span class="input-group-addon">Filter by</span>
		<div class="input-group-btn  " style="width:120px;" >
			<%= form_tag(:controller => "todos", :action => "storefilter") do  %>
			<%= select_tag(:f,options_for_select([["Id", 0], ["Title", 1],
			["Description", 2],["Priority", 3], ["Status", 4], ["Label", 5],
			["Created at", 6], ["Updated at", 7]],
			 @filter ),
			 options={class: "form-control selectpicker  show-tick clickable-row " ,
				 onchange: "this.form.submit();"}) %>
			<% end %>

		</div>
		<!-- <span class="input-group-addon ">Filter by</span> -->

	</div>
</div>
<div id="filterfield1" class="col-xs-2 col-md-2" style="display:block;">
<button type="button" onclick="filtertable(-1,'');" class="btn">Reset</button>
</div>
