<%= form_for(@todo, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :title, :class => "control-label" %>
    <%= f.text_field :title, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "control-label" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :label, :class => "control-label" %>
    <%= f.text_field :label, :class => "form-control" %>
  </div>
</div>

<div class="col-sm-6">
   <div class="form-group">
    <%= f.label :status, :class => "control-label" %>
    <%= f.select :status, options_for_select(getInvertedStatusArr,@todo.status)%>
  </div>
  <div class="form-group">
    <%= f.label :prio, :class => "control-label" %>
    <%= f.select :prio, options_for_select(getInvertedPrioArr,@todo.prio) %>
  </div>
  <div class="form-group">
    <%= f.submit  "Update Task", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>
