
<ul class="nav nav-tabs" role="tablist">

	<li id="listitem0" class="active clickable-row "
	onclick="filtertable(-1,'');setActive(); ">
	<a >All</a></li>

	<li  id="listitem1" class="text-success clickable-row "
	 onclick="filtertable(-1,'Done');setActive();"> 
	<a >Done</a></li>
	<li  id="listitem2" class="text-warning clickable-row "
	onclick="filtertable(-1,'In Progress');setActive();">
	<a >In Progress</a></li>
	<li  id="listitem3" class=" clickable-row"
	 onclick="filtertable(-1,'Not Started'); setActive();">
	<a >Not Started</a></li>

</ul>
