<% color=""
	case todo.status
		when 1
		color= "success"
		when 2
		color= "warning"
		else
		color= "danger"
	end
%>

<tr id="todo-<%= todo.id %>" class="<%= color %>">

	<td ><%=todo.id%></td>
	<td ><%=todo.title%></td>
	<td ><%=todo.description%></td>
	<td style="text-align: center;" ><%=convertObjIntToString("Prio",todo.prio)%></td>
	<td style="text-align: center;" ><%=convertObjIntToString("Status",todo.status)%></td>
	<td ><%=todo.label%></td>
	<td ><%=todo.local_time("created")%></td>
	<td ><%=todo.local_time("updated")%></td>

	<td ><%= link_to "Edit", edit_todo_path(todo), remote: true, :class => "btn btn-primary" %></td>
	<td ><%= link_to "Delete", todo, remote: true, :method => :delete, data: {confirm: "Delete task: #{todo.title}"}, :class => "btn btn-sm btn-danger" %></td>

</tr>
