﻿// Add the dialog title
<!-- console.log(this.data); -->
console.log(<%= @todo.id%>);
$('#dialog h3').html("<i class=' glyphicon glyphicon-pencil'></i> Edit Todo");
 
// Render the edit form
$('.modal-body').html('<%= j render("form") %>');
 
// Show the dynamic dialog
$('#dialog').modal("show");
 
// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
	  $('.first_input').focus()
  });