﻿
<% provide(:title, "Task Manager") %>
<div class="container">
	
	<section class="Todo_list-info">
		<h4 style="text-align: center;">My To-Do List</h4>
		<p style="text-align: center;"><%= pluralize(@activetodos.count, "things") %> to do </p>
	</section>
	<section ><%= render "nav_bar"%></section>
	
	<% puts "any= "+ @todos.any?.to_s %>
	
	<div id="filterfield1" class="row" style="display:block;padding-top:10px;padding-bottom:10px;">
		<% if !@todos.nil? && @todos.any? %>
		<%= render "filter_form" %>
		<%end%>
		<div class="col-xs-3 col-md-3 ">
			<%= render "shared/todo_form" %>
		</div>
		
	</div>
	<% if !@todos.nil? && @todos.any? %>
	
	<table id="myTable" class="table table-striped table-hover ">
		<thead>
			<tr class="clickable-row">
				<!-- 	------OBS:-------
					save sorting value to user object
				---------------- -->
				<th onclick="sortTable(0)" width="2%">ID</th>
				<th  onclick="sortTable(1)" width="15%">Title</th>
				<th  onclick="sortTable(2)" width="18%">Description</th>
				<th  onclick="sortTable(3)" style="text-align: center;" width="5%">Priority</th>
				<th  onclick="sortTable(4)" style="text-align: center;" width="10%">Status</th>
				<th  onclick="sortTable(5)" width="10%">Label</th>
				<th  onclick="sortTable(6)" width="15%">Created at</th>
				<th  onclick="sortTable(7)" width="15%">Updated at</th>
				<th  width="5%"></th>
				<th  width="5%"></th>
			</tr>
		</thead>
		
		<tbody id="todos">
			
			<%= render @todos %>
		</tbody>
		
	</table>
	<% end %>
	
</div>