<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<%= micropost.content %>
		<span align="right" class="timestamp">
			Posted <%= time_ago_in_words(micropost.created_at) %> ago.
			<% if logged_in? %>
				<% if current_user?(micropost.user) || current_user.admin? %>
				<%= link_to "delete", micropost, method: :delete,
					data: { confirm: "You sure?" } %>
				<% end %>
			<% end %>
		</span>
	</span>

	</li>
