<% flash.each do |message_type, message| %>
    <div id="flash" class="alert alert-<%= message_type %>">
        <%= message %>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
          setTimeout(function(){
            $('#flash').slideUp();
          }, 5000);
         })
    </script>
<% end %>



