<footer class="footer">
  <small>
	Following the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by Michael Hartl,
	<br>
	this website is developed
	<br> by <a href="https://sampleappbymala.herokuapp.com/users/1">MALA</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>

	 <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>
