<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render "layouts/rails_default" %>
		<%= render "layouts/shim" %>

	</head>
	<body>
		<%= render "layouts/header" %>
		<div class="container">
			<% flash.each do |message_type, message| %>
                <%= render "layouts/flash_templ" %>
            <% end %>
			<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content"></div>
				</div>
			</div>
			
			<%= yield %>
			<%= render "layouts/footer" %>
			<%= render "shared/dialog" %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>

